openapi: 3.2.0
info:
  title: Montran Payments API
  version: 1.0.0
  contact:
    name: Montran Corporation
    url: https://www.montran.com/contact-us/
  license:
    name: Proprietary
    url: https://www.montran.com/terms-conditions/
  x-logo:
    url: https://www.montran.com/logo.png
  description: 'Operations tagged Payments across 2 of this provider''s published API definitions: montran-corporate-payments-portal-openapi.yml, montran-global-payments-hub-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.montran.com/corporate/v1
  description: Montran Corporate Payments Portal API Server
- url: https://api.montran.com/gph/v1
  description: Montran Global Payments Hub API Server
security:
- bearerAuth: []
- apiKey: []
tags:
- name: Payments
  description: Corporate payment initiation and management
paths:
  /payments:
    get:
      operationId: listCorporatePayments
      summary: Montran List corporate payments
      description: Retrieves a list of payments initiated through the corporate portal. Supports filtering by payment type, status, bank relationship, currency, and date range. Provides multi-bank payment visibility across all connected bank relationships.
      tags:
      - Payments
      parameters:
      - name: status
        in: query
        description: Filter by payment status
        schema:
          type: string
          enum:
          - draft
          - pending_approval
          - approved
          - submitted
          - accepted
          - rejected
          - settled
          - cancelled
      - name: paymentType
        in: query
        description: Filter by payment type
        schema:
          type: string
          enum:
          - domestic
          - cross_border
          - swift
          - sepa
          - ach
      - name: bankId
        in: query
        description: Filter by bank relationship
        schema:
          type: string
      - name: currency
        in: query
        schema:
          type: string
          pattern: ^[A-Z]{3}$
      - name: fromDate
        in: query
        schema:
          type: string
          format: date
      - name: toDate
        in: query
        schema:
          type: string
          format: date
      - name: page
        in: query
        schema:
          type: integer
          minimum: 1
          default: 1
      - name: pageSize
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
      responses:
        '200':
          description: Successfully retrieved payments
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CorporatePaymentList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      operationId: createCorporatePayment
      summary: Montran Create a corporate payment
      description: Creates a new payment through the corporate portal. The payment is routed through the appropriate bank relationship and clearing system based on the payment type, destination, and currency. Supports domestic payments, cross-border SWIFT payments, SEPA transfers, and local ACH payments. The payment enters the approval workflow if configured.
      tags:
      - Payments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CorporatePaymentCreate'
      responses:
        '201':
          description: Payment successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CorporatePayment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
    servers:
    - url: https://api.montran.com/corporate/v1
      description: Montran Corporate Payments Portal API Server
  /payments/{paymentId}:
    get:
      operationId: getCorporatePayment
      summary: Montran Get payment details
      description: Retrieves the full details of a corporate payment including its approval status, bank submission status, and settlement information.
      tags:
      - Payments
      parameters:
      - $ref: '#/components/parameters/PaymentIdParam'
      responses:
        '200':
          description: Successfully retrieved payment details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CorporatePayment'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    servers:
    - url: https://api.montran.com/corporate/v1
      description: Montran Corporate Payments Portal API Server
  /payments/{paymentId}/cancel:
    post:
      operationId: cancelPayment
      summary: Montran Cancel a payment
      description: Requests cancellation of a payment that has not yet been settled. Generates an ISO 20022 camt.056 FIToFIPaymentCancellationRequest message. Cancellation availability depends on the payment status and the clearing system rules.
      tags:
      - Payments
      parameters:
      - $ref: '#/components/parameters/PaymentIdParam_2'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentCancellationRequest'
      responses:
        '200':
          description: Cancellation request successfully submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentCancellationResponse'
        '400':
          $ref: '#/components/responses/BadRequest_2'
        '401':
          $ref: '#/components/responses/Unauthorized_2'
        '404':
          $ref: '#/components/responses/NotFound_2'
        '409':
          description: Payment cannot be cancelled in its current state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_2'
        '500':
          $ref: '#/components/responses/InternalServerError'
    servers:
    - url: https://api.montran.com/gph/v1
      description: Montran Global Payments Hub API Server
components:
  responses:
    UnprocessableEntity:
      description: Validation failed
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Authentication required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    UnprocessableEntity_2:
      description: Request validation failed
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error_2'
    NotFound_2:
      description: Requested resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error_2'
    Unauthorized_2:
      description: Authentication required or credentials invalid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error_2'
    Forbidden:
      description: Insufficient permissions for the requested operation
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error_2'
    BadRequest_2:
      description: Bad request - invalid parameters or malformed request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error_2'
  schemas:
    CorporatePayment:
      type: object
      description: Corporate payment details
      properties:
        paymentId:
          type: string
        paymentType:
          type: string
        status:
          type: string
          enum:
          - draft
          - pending_approval
          - approved
          - submitted
          - accepted
          - rejected
          - settled
          - cancelled
        debitAccountId:
          type: string
        beneficiaryName:
          type: string
        beneficiaryAccount:
          type: object
          properties:
            iban:
              type: string
            accountNumber:
              type: string
            bankBic:
              type: string
        amount:
          type: number
          format: double
        currency:
          type: string
        valueDate:
          type: string
          format: date
        reference:
          type: string
        approvalStatus:
          type: object
          properties:
            requiredApprovals:
              type: integer
            currentApprovals:
              type: integer
            approvers:
              type: array
              items:
                type: object
                properties:
                  userId:
                    type: string
                  approvedAt:
                    type: string
                    format: date-time
                  comment:
                    type: string
        bankReference:
          type: string
          description: Reference assigned by the bank
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    Error:
      type: object
      required:
      - code
      - message
      properties:
        code:
          type: string
        message:
          type: string
        details:
          type: array
          items:
            type: object
            properties:
              field:
                type: string
              message:
                type: string
    CorporatePaymentCreate:
      type: object
      description: Corporate payment creation request
      required:
      - debitAccountId
      - beneficiaryAccount
      - amount
      - currency
      - paymentType
      properties:
        paymentType:
          type: string
          enum:
          - domestic
          - cross_border
          - swift
          - sepa
          - ach
        debitAccountId:
          type: string
          description: Debit account identifier
        beneficiaryId:
          type: string
          description: Registered beneficiary ID (if using saved beneficiary)
        beneficiaryName:
          type: string
          description: Beneficiary name
        beneficiaryAccount:
          type: object
          properties:
            iban:
              type: string
            accountNumber:
              type: string
            bankBic:
              type: string
            bankName:
              type: string
            country:
              type: string
        amount:
          type: number
          format: double
          minimum: 0.01
        currency:
          type: string
          pattern: ^[A-Z]{3}$
        valueDate:
          type: string
          format: date
        reference:
          type: string
          description: Payment reference
        remittanceInformation:
          type: string
        chargeBearer:
          type: string
          enum:
          - OUR
          - BEN
          - SHA
        urgency:
          type: string
          enum:
          - NORMAL
          - URGENT
    CorporatePaymentList:
      type: object
      properties:
        payments:
          type: array
          items:
            $ref: '#/components/schemas/CorporatePayment'
        pagination:
          $ref: '#/components/schemas/Pagination'
    Pagination:
      type: object
      properties:
        page:
          type: integer
        pageSize:
          type: integer
        totalItems:
          type: integer
        totalPages:
          type: integer
    PaymentList:
      type: object
      description: Paginated list of payments
      properties:
        payments:
          type: array
          items:
            $ref: '#/components/schemas/PaymentDetail'
        pagination:
          $ref: '#/components/schemas/Pagination_2'
    PaymentCancellationResponse:
      type: object
      description: Response to a payment cancellation request
      properties:
        paymentId:
          type: string
          description: Payment identifier
        cancellationStatus:
          type: string
          description: Status of the cancellation request
          enum:
          - ACCEPTED
          - PENDING
          - REJECTED
        reasonCode:
          type: string
          description: Reason code if cancellation was rejected
        processedAt:
          type: string
          format: date-time
    AccountIdentification:
      type: object
      description: Account identification using IBAN or proprietary account number
      properties:
        iban:
          type: string
          description: International Bank Account Number
          pattern: ^[A-Z]{2}[0-9]{2}[A-Z0-9]{4,30}$
        accountNumber:
          type: string
          description: Proprietary account number
        currency:
          type: string
          description: Account currency (ISO 4217)
          pattern: ^[A-Z]{3}$
    PaymentResponse:
      type: object
      description: Response returned after successful payment initiation
      properties:
        paymentId:
          type: string
          description: Unique payment identifier assigned by the system
        messageId:
          type: string
          description: Original message identification
        endToEndId:
          type: string
          description: End-to-end identification
        status:
          type: string
          description: Current payment status
          enum:
          - RECEIVED
          - VALIDATED
          - PENDING
        clearingSystem:
          type: string
          description: Assigned clearing and settlement mechanism
        createdAt:
          type: string
          format: date-time
          description: Timestamp when the payment was created
    StatusHistoryEntry:
      type: object
      description: A single entry in the payment status history
      properties:
        status:
          type: string
          description: Payment status at this point
        timestamp:
          type: string
          format: date-time
          description: When the status changed
        reasonCode:
          type: string
          description: Reason code if applicable
        description:
          type: string
          description: Description of the status change
    Pagination_2:
      type: object
      description: Pagination information for list responses
      properties:
        page:
          type: integer
          description: Current page number
        pageSize:
          type: integer
          description: Number of items per page
        totalItems:
          type: integer
          description: Total number of items
        totalPages:
          type: integer
          description: Total number of pages
    PaymentCancellationRequest:
      type: object
      description: Payment cancellation request aligned with ISO 20022 camt.056 FIToFIPaymentCancellationRequest
      required:
      - reason
      properties:
        reason:
          type: string
          description: Cancellation reason code
          enum:
          - DUPL
          - AGNT
          - CURR
          - CUST
          - UPAY
          - FRAD
          - TECH
        additionalInformation:
          type: string
          description: Additional information about the cancellation request
    FinancialInstitution:
      type: object
      description: Financial institution identification
      properties:
        bic:
          type: string
          description: Bank Identifier Code (SWIFT/BIC)
          pattern: ^[A-Z]{4}[A-Z]{2}[A-Z0-9]{2}([A-Z0-9]{3})?$
        name:
          type: string
          description: Name of the financial institution
        clearingSystemMemberId:
          type: string
          description: Clearing system member identification
    Error_2:
      type: object
      description: Standard error response
      required:
      - code
      - message
      properties:
        code:
          type: string
          description: Error code
        message:
          type: string
          description: Human-readable error message
        details:
          type: array
          description: Detailed error information
          items:
            type: object
            properties:
              field:
                type: string
                description: Field that caused the error
              message:
                type: string
                description: Error detail message
    PaymentDetail:
      type: object
      description: Detailed payment information including full processing history
      properties:
        paymentId:
          type: string
          description: Unique payment identifier
        messageId:
          type: string
          description: Message identification
        paymentType:
          type: string
          description: Type of payment
        status:
          type: string
          description: Current payment status
        debtorName:
          type: string
        debtorAccount:
          $ref: '#/components/schemas/AccountIdentification'
        debtorAgent:
          $ref: '#/components/schemas/FinancialInstitution'
        creditorName:
          type: string
        creditorAccount:
          $ref: '#/components/schemas/AccountIdentification'
        creditorAgent:
          $ref: '#/components/schemas/FinancialInstitution'
        amount:
          type: number
          format: double
        currency:
          type: string
        endToEndId:
          type: string
        clearingSystem:
          type: string
        settlementDate:
          type: string
          format: date
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        statusHistory:
          type: array
          description: Complete status change history
          items:
            $ref: '#/components/schemas/StatusHistoryEntry'
    PaymentInitiation:
      type: object
      description: Payment initiation request aligned with ISO 20022 pain.001 CustomerCreditTransferInitiation message structure
      required:
      - paymentType
      - debtorAccount
      - creditorAccount
      - amount
      - currency
      properties:
        messageId:
          type: string
          description: Unique message identification assigned by the initiating party
        paymentType:
          type: string
          description: Type of payment being initiated
          enum:
          - credit-transfer
          - direct-debit
          - cheque
          - cross-border
          - remittance
        debtorName:
          type: string
          description: Name of the debtor (payer)
        debtorAccount:
          $ref: '#/components/schemas/AccountIdentification'
        debtorAgent:
          $ref: '#/components/schemas/FinancialInstitution'
        creditorName:
          type: string
          description: Name of the creditor (payee)
        creditorAccount:
          $ref: '#/components/schemas/AccountIdentification'
        creditorAgent:
          $ref: '#/components/schemas/FinancialInstitution'
        amount:
          type: number
          format: double
          description: Payment amount
          minimum: 0.01
        currency:
          type: string
          description: ISO 4217 currency code
          pattern: ^[A-Z]{3}$
        requestedExecutionDate:
          type: string
          format: date
          description: Requested execution date for the payment
        endToEndId:
          type: string
          description: End-to-end identification assigned by the initiating party
        remittanceInformation:
          type: string
          description: Remittance information or payment reference
        chargeBearer:
          type: string
          description: Specifies which party bears the charges
          enum:
          - DEBT
          - CRED
          - SHAR
          - SLEV
        urgency:
          type: string
          description: Payment urgency level
          enum:
          - NORMAL
          - HIGH
          - EXPRESS
  parameters:
    PaymentIdParam:
      name: paymentId
      in: path
      required: true
      description: Unique payment identifier
      schema:
        type: string
    CurrencyParam:
      name: currency
      in: query
      description: Filter by ISO 4217 currency code
      schema:
        type: string
        pattern: ^[A-Z]{3}$
    ClearingSystemParam:
      name: clearingSystem
      in: query
      description: Filter by clearing and settlement mechanism
      schema:
        type: string
        enum:
        - SEPA
        - TARGET2
        - FEDWIRE
        - CHIPS
        - RTGS
        - ACH
        - CHAPS
        - FASTER_PAYMENTS
        - TIPS
        - RT1
    PaymentTypeParam:
      name: paymentType
      in: query
      description: Filter by payment type
      schema:
        type: string
        enum:
        - credit-transfer
        - direct-debit
        - cheque
        - cross-border
        - remittance
    PaymentIdParam_2:
      name: paymentId
      in: path
      required: true
      description: Unique identifier of the payment
      schema:
        type: string
    PaymentStatusParam:
      name: status
      in: query
      description: Filter by payment processing status
      schema:
        type: string
        enum:
        - pending
        - validated
        - submitted
        - accepted
        - rejected
        - settled
        - returned
        - cancelled
    FromDateParam:
      name: fromDate
      in: query
      description: Start date for filtering (ISO 8601 format)
      schema:
        type: string
        format: date
    PageSizeParam:
      name: pageSize
      in: query
      description: Number of items per page
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
    PageParam:
      name: page
      in: query
      description: Page number for pagination
      schema:
        type: integer
        minimum: 1
        default: 1
    ToDateParam:
      name: toDate
      in: query
      description: End date for filtering (ISO 8601 format)
      schema:
        type: string
        format: date
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    apiKey:
      type: apiKey
      in: header
      name: X-API-Key
x-refined-from:
- montran-corporate-payments-portal-openapi.yml
- montran-global-payments-hub-openapi.yml
