openapi: 3.2.0
info:
  title: Montran Sanctions Screening Configuration API
  description: The Montran Enhanced Filtering System (EFS) provides comprehensive payments filtering and sanctions screening capabilities.
  version: 1.0.0
  contact:
    name: Montran Corporation
    url: https://www.montran.com/contact-us/
  license:
    name: Proprietary
    url: https://www.montran.com/terms-conditions/
  x-logo:
    url: https://www.montran.com/logo.png
servers:
- url: https://api.montran.com/efs/v1
  description: Montran Enhanced Filtering System API Server
security:
- bearerAuth: []
- apiKey: []
tags:
- name: Configuration
  description: Screening rules and channel configuration
paths:
  /channels:
    get:
      operationId: listScreeningChannels
      summary: Montran List screening channels
      description: Retrieves the configured screening channels. Each channel can be independently configured to use specific compliance lists, matching thresholds, and screening rules. Channels correspond to different payment types or clearing systems.
      tags:
      - Configuration
      responses:
        '200':
          description: Successfully retrieved channels
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScreeningChannelList'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
components:
  responses:
    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Authentication required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    ScreeningChannelList:
      type: object
      properties:
        channels:
          type: array
          items:
            type: object
            properties:
              channelId:
                type: string
              name:
                type: string
              description:
                type: string
              messageFormats:
                type: array
                items:
                  type: string
              activeLists:
                type: array
                items:
                  type: string
              matchThreshold:
                type: number
                format: double
                description: Minimum match score threshold
              status:
                type: string
                enum:
                - active
                - inactive
    Error:
      type: object
      required:
      - code
      - message
      properties:
        code:
          type: string
        message:
          type: string
        details:
          type: array
          items:
            type: object
            properties:
              field:
                type: string
              message:
                type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    apiKey:
      type: apiKey
      in: header
      name: X-API-Key
externalDocs:
  description: Montran Sanctions Screening Documentation
  url: https://www.montran.com/solutions/sanctions-screening/
