openapi: 3.2.0
info:
  title: Montran Payments Connectivity SWIFT API
  description: The Montran Payments Connectivity solution allows commercial banks to connect to multiple clearing and settlement systems and messaging systems such as SWIFT.
  version: 1.0.0
  contact:
    name: Montran Corporation
    url: https://www.montran.com/contact-us/
  license:
    name: Proprietary
    url: https://www.montran.com/terms-conditions/
  x-logo:
    url: https://www.montran.com/logo.png
servers:
- url: https://api.montran.com/connectivity/v1
  description: Montran Payments Connectivity API Server
security:
- bearerAuth: []
- apiKey: []
tags:
- name: SWIFT
  description: SWIFT network connectivity and message management
paths:
  /swift/messages:
    get:
      operationId: listSwiftMessages
      summary: Montran List SWIFT messages
      description: Retrieves SWIFT FIN messages processed through the connectivity platform. Supports filtering by message type (MT103, MT202, etc.), direction, and date range. Includes SWIFT gpi tracking information where available.
      tags:
      - SWIFT
      parameters:
      - name: messageType
        in: query
        description: SWIFT MT message type filter
        schema:
          type: string
      - name: direction
        in: query
        schema:
          type: string
          enum:
          - sent
          - received
      - name: fromDate
        in: query
        schema:
          type: string
          format: date
      - name: toDate
        in: query
        schema:
          type: string
          format: date
      - name: page
        in: query
        schema:
          type: integer
          minimum: 1
          default: 1
      - name: pageSize
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
      responses:
        '200':
          description: Successfully retrieved SWIFT messages
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SwiftMessageList'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
components:
  schemas:
    SwiftMessageList:
      type: object
      properties:
        messages:
          type: array
          items:
            type: object
            properties:
              messageId:
                type: string
              swiftMessageType:
                type: string
                description: SWIFT MT message type (e.g., MT103, MT202)
              direction:
                type: string
                enum:
                - sent
                - received
              senderBic:
                type: string
              receiverBic:
                type: string
              reference:
                type: string
              gpiUetr:
                type: string
                description: SWIFT gpi Unique End-to-end Transaction Reference
              status:
                type: string
              processedAt:
                type: string
                format: date-time
        pagination:
          $ref: '#/components/schemas/Pagination'
    Error:
      type: object
      required:
      - code
      - message
      properties:
        code:
          type: string
        message:
          type: string
        details:
          type: array
          items:
            type: object
            properties:
              field:
                type: string
              message:
                type: string
    Pagination:
      type: object
      properties:
        page:
          type: integer
        pageSize:
          type: integer
        totalItems:
          type: integer
        totalPages:
          type: integer
  responses:
    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Authentication required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    apiKey:
      type: apiKey
      in: header
      name: X-API-Key
externalDocs:
  description: Montran Payments Connectivity Documentation
  url: https://www.montran.com/solutions/payments-connectivity/
