openapi: 3.1.0
info:
  title: Montran Corporate Payments Portal Account Information Alerts API
  description: The Montran Corporate Payments Portal enables corporates to exercise complete control over accounts at their various bank relationships, with the ability to make secure payments over the Internet. It supports SWIFT payments and local clearing delivery through API integration and H2H (Host-to-Host) protocols. Corporates can connect their ERP systems and manually or automatically upload invoices for payments and collections management. The portal provides multi-bank visibility and supports secure payment initiation across multiple currencies and payment types.
  version: 1.0.0
  contact:
    name: Montran Corporation
    url: https://www.montran.com/contact-us/
  license:
    name: Proprietary
    url: https://www.montran.com/terms-conditions/
  x-logo:
    url: https://www.montran.com/logo.png
servers:
- url: https://api.montran.com/corporate/v1
  description: Montran Corporate Payments Portal API Server
security:
- bearerAuth: []
- apiKey: []
tags:
- name: Alerts
  description: Screening alert management and resolution
paths:
  /alerts:
    get:
      operationId: listAlerts
      summary: Montran List screening alerts
      description: Retrieves a list of screening alerts generated by the filtering system. Alerts require review and resolution by compliance analysts. Supports filtering by status, severity, screening type, and date range.
      tags:
      - Alerts
      parameters:
      - name: status
        in: query
        description: Filter by alert status
        schema:
          type: string
          enum:
          - open
          - under_review
          - escalated
          - cleared
          - confirmed
      - name: severity
        in: query
        description: Filter by match severity
        schema:
          type: string
          enum:
          - high
          - medium
          - low
      - name: screeningType
        in: query
        description: Filter by screening type
        schema:
          type: string
          enum:
          - transaction
          - entity
          - batch
      - name: fromDate
        in: query
        schema:
          type: string
          format: date
      - name: toDate
        in: query
        schema:
          type: string
          format: date
      - name: page
        in: query
        schema:
          type: integer
          minimum: 1
          default: 1
      - name: pageSize
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
      responses:
        '200':
          description: Successfully retrieved alerts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertList'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /alerts/{alertId}:
    get:
      operationId: getAlert
      summary: Montran Get alert details
      description: Retrieves the full details of a screening alert including the matched entity, match score, list source, and any analyst comments or resolution history.
      tags:
      - Alerts
      parameters:
      - name: alertId
        in: path
        required: true
        description: Unique identifier of the alert
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved alert details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertDetail'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /alerts/{alertId}/resolve:
    post:
      operationId: resolveAlert
      summary: Montran Resolve a screening alert
      description: Resolves a screening alert with a disposition (cleared as false positive or confirmed as true match). Records the analyst decision, justification, and any associated actions taken.
      tags:
      - Alerts
      parameters:
      - name: alertId
        in: path
        required: true
        description: Unique identifier of the alert
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlertResolution'
      responses:
        '200':
          description: Alert successfully resolved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertDetail'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
components:
  schemas:
    Pagination:
      type: object
      properties:
        page:
          type: integer
        pageSize:
          type: integer
        totalItems:
          type: integer
        totalPages:
          type: integer
    TransactionData:
      type: object
      description: Structured transaction data for screening
      properties:
        transactionId:
          type: string
          description: Transaction reference
        debtorName:
          type: string
          description: Name of the debtor/originator
        debtorAddress:
          type: string
          description: Address of the debtor
        debtorCountry:
          type: string
          description: Country of the debtor (ISO 3166-1 alpha-2)
        debtorAccountIban:
          type: string
          description: Debtor IBAN
        debtorAgentBic:
          type: string
          description: Debtor agent BIC
        creditorName:
          type: string
          description: Name of the creditor/beneficiary
        creditorAddress:
          type: string
          description: Address of the creditor
        creditorCountry:
          type: string
          description: Country of the creditor (ISO 3166-1 alpha-2)
        creditorAccountIban:
          type: string
          description: Creditor IBAN
        creditorAgentBic:
          type: string
          description: Creditor agent BIC
        amount:
          type: number
          format: double
          description: Transaction amount
        currency:
          type: string
          description: Currency code (ISO 4217)
        remittanceInformation:
          type: string
          description: Remittance information / purpose
    AlertList:
      type: object
      properties:
        alerts:
          type: array
          items:
            $ref: '#/components/schemas/AlertDetail'
        pagination:
          $ref: '#/components/schemas/Pagination'
    Error:
      type: object
      required:
      - code
      - message
      properties:
        code:
          type: string
        message:
          type: string
        details:
          type: array
          items:
            type: object
            properties:
              field:
                type: string
              message:
                type: string
    AlertDetail:
      type: object
      description: Screening alert full details
      properties:
        alertId:
          type: string
        screeningId:
          type: string
        status:
          type: string
          enum:
          - open
          - under_review
          - escalated
          - cleared
          - confirmed
        severity:
          type: string
          enum:
          - high
          - medium
          - low
        screeningType:
          type: string
          enum:
          - transaction
          - entity
        match:
          $ref: '#/components/schemas/ScreeningMatch'
        transactionData:
          $ref: '#/components/schemas/TransactionData'
        resolution:
          type: object
          properties:
            disposition:
              type: string
              enum:
              - false_positive
              - true_match
            resolvedBy:
              type: string
            resolvedAt:
              type: string
              format: date-time
            justification:
              type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    AlertResolution:
      type: object
      description: Alert resolution submission
      required:
      - disposition
      - justification
      properties:
        disposition:
          type: string
          description: Resolution disposition
          enum:
          - false_positive
          - true_match
        justification:
          type: string
          description: Justification for the resolution decision
        action:
          type: string
          description: Action taken (for true matches)
          enum:
          - BLOCK_TRANSACTION
          - RELEASE_TRANSACTION
          - ESCALATE
          - FILE_SAR
    ScreeningMatch:
      type: object
      description: Individual screening match details
      properties:
        matchId:
          type: string
        matchedField:
          type: string
          description: Transaction field that triggered the match
          enum:
          - debtorName
          - creditorName
          - debtorAddress
          - creditorAddress
          - debtorCountry
          - creditorCountry
          - remittanceInformation
        matchedValue:
          type: string
          description: Value from the transaction that matched
        listName:
          type: string
          description: Name of the compliance list
        listEntryId:
          type: string
          description: Entry identifier in the compliance list
        listedName:
          type: string
          description: Name on the sanctions list
        matchScore:
          type: number
          format: double
          description: Match confidence score (0-100)
          minimum: 0
          maximum: 100
        matchType:
          type: string
          description: Type of match
          enum:
          - EXACT
          - FUZZY
          - PHONETIC
          - PARTIAL
        severity:
          type: string
          enum:
          - high
          - medium
          - low
  responses:
    Unauthorized:
      description: Authentication required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    apiKey:
      type: apiKey
      in: header
      name: X-API-Key
externalDocs:
  description: Montran Corporate Payments Portal Documentation
  url: https://www.montran.com/solutions/corporate-payments-portal/
