openapi: 3.1.0
info:
  title: Montran Corporate Payments Portal Account Information Configuration API
  description: The Montran Corporate Payments Portal enables corporates to exercise complete control over accounts at their various bank relationships, with the ability to make secure payments over the Internet. It supports SWIFT payments and local clearing delivery through API integration and H2H (Host-to-Host) protocols. Corporates can connect their ERP systems and manually or automatically upload invoices for payments and collections management. The portal provides multi-bank visibility and supports secure payment initiation across multiple currencies and payment types.
  version: 1.0.0
  contact:
    name: Montran Corporation
    url: https://www.montran.com/contact-us/
  license:
    name: Proprietary
    url: https://www.montran.com/terms-conditions/
  x-logo:
    url: https://www.montran.com/logo.png
servers:
- url: https://api.montran.com/corporate/v1
  description: Montran Corporate Payments Portal API Server
security:
- bearerAuth: []
- apiKey: []
tags:
- name: Configuration
  description: Screening rules and channel configuration
paths:
  /channels:
    get:
      operationId: listScreeningChannels
      summary: Montran List screening channels
      description: Retrieves the configured screening channels. Each channel can be independently configured to use specific compliance lists, matching thresholds, and screening rules. Channels correspond to different payment types or clearing systems.
      tags:
      - Configuration
      responses:
        '200':
          description: Successfully retrieved channels
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScreeningChannelList'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
components:
  responses:
    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Authentication required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    ScreeningChannelList:
      type: object
      properties:
        channels:
          type: array
          items:
            type: object
            properties:
              channelId:
                type: string
              name:
                type: string
              description:
                type: string
              messageFormats:
                type: array
                items:
                  type: string
              activeLists:
                type: array
                items:
                  type: string
              matchThreshold:
                type: number
                format: double
                description: Minimum match score threshold
              status:
                type: string
                enum:
                - active
                - inactive
    Error:
      type: object
      required:
      - code
      - message
      properties:
        code:
          type: string
        message:
          type: string
        details:
          type: array
          items:
            type: object
            properties:
              field:
                type: string
              message:
                type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    apiKey:
      type: apiKey
      in: header
      name: X-API-Key
externalDocs:
  description: Montran Corporate Payments Portal Documentation
  url: https://www.montran.com/solutions/corporate-payments-portal/
